# Dependency directories
node_modules
bower_components

# Compiled
# dist
# dist/**/*

2-JS-Basics/**/*

.DS_Store
__MACOSX
.zip
.sass-cache
.publish
Desktop.ini
npm-debug.log
**/generated/_icons.sass2-JS-Basics-Final.zip
2-JS-Basics.zip
2-JS-Basics-Final.zip
